/***************  FOOTER ELEMENTS (mobile first) ***************/


.fixedFooter {
  display: grid;
  position: fixed;
  height: 80px;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  align-items: center;
  /**
    background-image: url(../images/musicnotebackground.svg);
    background-size: 60px;
  */
  background-color: navy;
  box-shadow: 1px 0px 5px 1px black;
  z-index: 999;
}

.maxFooter {
  display: flex;
  max-width: 2000px;
  margin: auto auto;
  justify-content: space-between;
  width: 95%;
}

.address {
  max-width: 60%;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.address a {
  text-decoration: none;
  color: white;
}

#phoneNumber {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: "oswald";
}

/***************  MEDIA QUERIES ***************/

@media (min-width: 750px) {
  .address {
    font-size: 20px;
    max-width: 80%;
  }

  #phoneNumber {
    font-size: 25px;
  }


  .fixedFooter {
    /**position: relative;  make non sicku*/ 
    margin-top: 100px;
  }

}

@media (min-width: 976px) {
  .address, #phoneNumber {
    font-size: 30px;
  }
}
