/***************  HEADER ELEMENTS  (mobile First)  ***************/

.fixedHeader {
  display: grid;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  background-size: 116px;
  /**
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='130' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='black' fill-opacity='1'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-image: url("../images/IMAG000.jpg");
  background-size: cover;
  */
  background-color: navy;
  z-index: 999;
  box-shadow: 1px 0px 5px 1px black;
}

.maxHeader {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: auto auto;
  justify-content: space-evenly;
}


/***************************************************/

.leftHead {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align:center;
}

.logo {
  background-image: url('../images/logoCutout.png');
  width: 120px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 0px 5px blue );
}

.headerTag {
  color: white;
  font-family: 'oswald', 'helvetica';
  font-size: 15px;
  margin-left: 1vw;
  display: none;
}


/***************************************************/

.centerHead {
  display: none;
  margin: auto 0;
  width: 100%;
  max-width: 650px;
  margin-right: 20px;
  margin-left: 20px;
}

.headerNav {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  height: max-content;
  width: 100%;
}

.headerNav .navLink {
  font-family: 'Oswald';
  color: white;
  padding: 10px 0px;
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
  text-decoration: none;
}

.headerNav .navLink:hover {
  color: yellow;
}


/***************************************************/

.rightHead {
  display: block;
  position: absolute;
  right: 10px;
  height: 46px;
  width: 46px;
  top: 15px;
}

#myDropdown {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: max-content;
  background-color: white;
  border-radius: 20px;
  border-top-right-radius: 0;
  overflow: hidden;
  z-index: 1000;
  right: 2px;
  top: 39px;
}

#dropdownBtn {
  background-image: url('../images/Hamburger_icon.png');
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.dropdown {
  display: inline-block;
}

.dropLink {
  color: black;
  font-family: 'Jockey One', sans-serif;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background-color: #ddd;
  z-index: 1000;
}

.dropdown .dropLink:hover {
  background-color: white;
}

.show {
  display: block !important;
}


/*************** MEDIA QUERIES  ***************/


@media (min-width: 750px) {
  .leftHead {
    margin: 0 auto 0 5px;
  }

  .centerHead {
    display: block;
  }

  .headerNav {
    display: flex;
  }

  .rightHead {
    display: none;
  }

  .dropdown {
    position: relative;
    display: none;
  }
}

@media (min-width: 1043px) {
  .headerTag {
    display: block;
    font-size: 20px;
  }
}

@media (max-height: 550px) {
  .dropLink {
    font-size: 20px;
  }
}
