/***************** MOBILE FIRST ******************/

body {
  background-color: darkblue;
}

#CTRDIV {
  display: grid;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 70px;
  justify-content: center;
  padding: 0px; 
  overflow: hidden;
  background-color: darkblue;
}


.topContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  justify-content: center;
  margin: 0px auto 10px auto;
}

