.wrapperSmall {
  display: grid;
  position: relative;
  justify-content: center;
  margin: 40px auto;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  background-image: none;
  background-color: transparent;
  border: none;
}


.imageContainerSmall {
  position: relative;
  height: 400px;
  width: 550px;
  max-width: 90vw;
  min-width: 315px;
  max-height: 90vw;
  margin: 0 auto;
  border-radius: 40px;
  overflow: hidden;
}


.wrapperSmall p { 
  width: 370px;
}

.cardImageSmall{
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 40px;
  border: none;
}


.imageTitleSmall {
  display: grid;
  position: absolute;
  width: 100%;
  min-width: fit-content;
  padding: 25px 0px 25px 0px;
  align-self: end;
  color: white;
  font-family: 'oswald'; 
  font-size: 45px;
  color: yellow;
  background-color: #181818;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='130' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='black' fill-opacity='1'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  /**
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' id='svg4136' version='1.1' inkscape:version='0.47 r22583' width='100' height='100' opacity = '1'  sodipodi:docname='Music-staff.svg'%3E%3Cmetadata id='metadata4142'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs4140'%3E%3Cinkscape:perspective sodipodi:type='inkscape:persp3d' inkscape:vp_x='0 : 0.5 : 1' inkscape:vp_y='0 : 1000 : 0' inkscape:vp_z='1 : 0.5 : 1' inkscape:persp3d-origin='0.5 : 0.33333333 : 1' id='perspective4144'/%3E%3C/defs%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1920' inkscape:window-height='1020' id='namedview4138' showgrid='true' inkscape:zoom='2.8284271' inkscape:cx='276.13729' inkscape:cy='32.629521' inkscape:window-x='0' inkscape:window-y='33' inkscape:window-maximized='1' inkscape:current-layer='svg4136'%3E%3Cinkscape:grid type='xygrid' id='grid4150' empspacing='5' visible='true' enabled='true' snapvisiblegridlinesonly='true'/%3E%3C/sodipodi:namedview%3E%3Cpath style='fill:navy' d='m 0,98 0,-2 100,0 100,0 0,2 0,2 -100,0 -100,0 0,-2 z m 0,-24 0,-2 100,0 100,0 0,2 0,2 -100,0 -100,0 0,-2 z m 0,-24 0,-2 100,0 100,0 0,2 0,2 -100,0 -100,0 0,-2 z m 0,-24 0,-2 100,0 100,0 0,2 0,2 L 100,28 0,28 0,26 z M 0,2 0,0 100,0 200,0 200,2 200,4 100,4 0,4 0,2 z' id='path4152'/%3E%3C/svg%3E ");
  background-color: blue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='130' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='black' fill-opacity='1'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position-y: center;
  */
}


.sideContainerSmall {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto auto;
  background-color: transparent;
  border: none;
}

.sideButtonSmall {
  display: none;
}
